aiohttp
aiosignal
altair
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
decorator
entrypoints
et-xmlfile
filelock
Flask
fonttools
frozenlist
fuzzywuzzy
gitdb
GitPython
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
networkx
nltk
numpy
openai==0.27.7
openpyxl
packaging
pandas
Pillow
plotly
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
regex
requests
rich
scikit-learn
scipy
seaborn
semver
sentence-transformers
six
scikit-learn
smmap
stqdm
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
yarl
xlrd
zipp
